<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunSectionMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunSection">
    <!--@mbggenerated-->
    <id column="SECTION_ID" jdbcType="INTEGER" property="sectionId" />
    <id column="CITY_ID" jdbcType="SMALLINT" property="cityId" />
    <result column="REG_ID" jdbcType="INTEGER" property="regId" />
    <result column="SECTION_CODE" jdbcType="VARCHAR" property="sectionCode" />
    <result column="SECTION_NAME" jdbcType="VARCHAR" property="sectionName" />
    <result column="VERTIFY_FLAG" jdbcType="TINYINT" property="vertifyFlag" />
    <result column="FId" jdbcType="INTEGER" property="fid" />
    <result column="ERP_SECTION_ID" jdbcType="INTEGER" property="erpSectionId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="SECTION_PINYIN" jdbcType="VARCHAR" property="sectionPinyin" />
    <result column="FDD_SECTION_ID" jdbcType="INTEGER" property="fddSectionId" />
    <result column="POSITION_Y" jdbcType="VARCHAR" property="positionY" />
    <result column="POSITION_X" jdbcType="VARCHAR" property="positionX" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    SECTION_ID, CITY_ID, REG_ID, SECTION_CODE, SECTION_NAME, VERTIFY_FLAG, FId, ERP_SECTION_ID, 
    UPDATE_TIME, SECTION_PINYIN, FDD_SECTION_ID, POSITION_Y, POSITION_X
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminFunSectionExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_SECTION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_SECTION
    where SECTION_ID = #{sectionId,jdbcType=INTEGER}
      and CITY_ID = #{cityId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbggenerated-->
    delete from FUN_SECTION
    where SECTION_ID = #{sectionId,jdbcType=INTEGER}
      and CITY_ID = #{cityId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminFunSectionExample">
    <!--@mbggenerated-->
    delete from FUN_SECTION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="sectionId" parameterType="com.myfun.repository.admindb.po.AdminFunSection" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_SECTION (CITY_ID, REG_ID, SECTION_CODE, 
      SECTION_NAME, VERTIFY_FLAG, FId, 
      ERP_SECTION_ID, UPDATE_TIME, SECTION_PINYIN, 
      FDD_SECTION_ID, POSITION_Y, POSITION_X
      )
    values (#{cityId,jdbcType=SMALLINT}, #{regId,jdbcType=INTEGER}, #{sectionCode,jdbcType=VARCHAR}, 
      #{sectionName,jdbcType=VARCHAR}, #{vertifyFlag,jdbcType=TINYINT}, #{fid,jdbcType=INTEGER}, 
      #{erpSectionId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{sectionPinyin,jdbcType=VARCHAR}, 
      #{fddSectionId,jdbcType=INTEGER}, #{positionY,jdbcType=VARCHAR}, #{positionX,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyProperty="sectionId" parameterType="com.myfun.repository.admindb.po.AdminFunSection" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_SECTION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="regId != null">
        REG_ID,
      </if>
      <if test="sectionCode != null">
        SECTION_CODE,
      </if>
      <if test="sectionName != null">
        SECTION_NAME,
      </if>
      <if test="vertifyFlag != null">
        VERTIFY_FLAG,
      </if>
      <if test="fid != null">
        FId,
      </if>
      <if test="erpSectionId != null">
        ERP_SECTION_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="sectionPinyin != null">
        SECTION_PINYIN,
      </if>
      <if test="fddSectionId != null">
        FDD_SECTION_ID,
      </if>
      <if test="positionY != null">
        POSITION_Y,
      </if>
      <if test="positionX != null">
        POSITION_X,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="regId != null">
        #{regId,jdbcType=INTEGER},
      </if>
      <if test="sectionCode != null">
        #{sectionCode,jdbcType=VARCHAR},
      </if>
      <if test="sectionName != null">
        #{sectionName,jdbcType=VARCHAR},
      </if>
      <if test="vertifyFlag != null">
        #{vertifyFlag,jdbcType=TINYINT},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="erpSectionId != null">
        #{erpSectionId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sectionPinyin != null">
        #{sectionPinyin,jdbcType=VARCHAR},
      </if>
      <if test="fddSectionId != null">
        #{fddSectionId,jdbcType=INTEGER},
      </if>
      <if test="positionY != null">
        #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        #{positionX,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminFunSectionExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_SECTION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_SECTION
    <set>
      <if test="record.sectionId != null">
        SECTION_ID = #{record.sectionId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=SMALLINT},
      </if>
      <if test="record.regId != null">
        REG_ID = #{record.regId,jdbcType=INTEGER},
      </if>
      <if test="record.sectionCode != null">
        SECTION_CODE = #{record.sectionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sectionName != null">
        SECTION_NAME = #{record.sectionName,jdbcType=VARCHAR},
      </if>
      <if test="record.vertifyFlag != null">
        VERTIFY_FLAG = #{record.vertifyFlag,jdbcType=TINYINT},
      </if>
      <if test="record.fid != null">
        FId = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.erpSectionId != null">
        ERP_SECTION_ID = #{record.erpSectionId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sectionPinyin != null">
        SECTION_PINYIN = #{record.sectionPinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.fddSectionId != null">
        FDD_SECTION_ID = #{record.fddSectionId,jdbcType=INTEGER},
      </if>
      <if test="record.positionY != null">
        POSITION_Y = #{record.positionY,jdbcType=VARCHAR},
      </if>
      <if test="record.positionX != null">
        POSITION_X = #{record.positionX,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_SECTION
    set SECTION_ID = #{record.sectionId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=SMALLINT},
      REG_ID = #{record.regId,jdbcType=INTEGER},
      SECTION_CODE = #{record.sectionCode,jdbcType=VARCHAR},
      SECTION_NAME = #{record.sectionName,jdbcType=VARCHAR},
      VERTIFY_FLAG = #{record.vertifyFlag,jdbcType=TINYINT},
      FId = #{record.fid,jdbcType=INTEGER},
      ERP_SECTION_ID = #{record.erpSectionId,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      SECTION_PINYIN = #{record.sectionPinyin,jdbcType=VARCHAR},
      FDD_SECTION_ID = #{record.fddSectionId,jdbcType=INTEGER},
      POSITION_Y = #{record.positionY,jdbcType=VARCHAR},
      POSITION_X = #{record.positionX,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunSection">
    <!--@mbggenerated-->
    update FUN_SECTION
    <set>
      <if test="regId != null">
        REG_ID = #{regId,jdbcType=INTEGER},
      </if>
      <if test="sectionCode != null">
        SECTION_CODE = #{sectionCode,jdbcType=VARCHAR},
      </if>
      <if test="sectionName != null">
        SECTION_NAME = #{sectionName,jdbcType=VARCHAR},
      </if>
      <if test="vertifyFlag != null">
        VERTIFY_FLAG = #{vertifyFlag,jdbcType=TINYINT},
      </if>
      <if test="fid != null">
        FId = #{fid,jdbcType=INTEGER},
      </if>
      <if test="erpSectionId != null">
        ERP_SECTION_ID = #{erpSectionId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sectionPinyin != null">
        SECTION_PINYIN = #{sectionPinyin,jdbcType=VARCHAR},
      </if>
      <if test="fddSectionId != null">
        FDD_SECTION_ID = #{fddSectionId,jdbcType=INTEGER},
      </if>
      <if test="positionY != null">
        POSITION_Y = #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        POSITION_X = #{positionX,jdbcType=VARCHAR},
      </if>
    </set>
    where SECTION_ID = #{sectionId,jdbcType=INTEGER}
      and CITY_ID = #{cityId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunSection">
    <!--@mbggenerated-->
    update FUN_SECTION
    set REG_ID = #{regId,jdbcType=INTEGER},
      SECTION_CODE = #{sectionCode,jdbcType=VARCHAR},
      SECTION_NAME = #{sectionName,jdbcType=VARCHAR},
      VERTIFY_FLAG = #{vertifyFlag,jdbcType=TINYINT},
      FId = #{fid,jdbcType=INTEGER},
      ERP_SECTION_ID = #{erpSectionId,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      SECTION_PINYIN = #{sectionPinyin,jdbcType=VARCHAR},
      FDD_SECTION_ID = #{fddSectionId,jdbcType=INTEGER},
      POSITION_Y = #{positionY,jdbcType=VARCHAR},
      POSITION_X = #{positionX,jdbcType=VARCHAR}
    where SECTION_ID = #{sectionId,jdbcType=INTEGER}
      and CITY_ID = #{cityId,jdbcType=SMALLINT}
  </update>
</mapper>